.Form {
  text-align: center;
  width: 100%;
  border: 0.1rem solid #adadad;
  background-color: white;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 7px 0px hsla(214deg 52% 20%, 0.5);
}

.Form fieldset {
  border: none;
}

.Form fieldset > legend {
  font-size: 2.5rem;
}

.Form fieldset > p {
  font-size: 1.2rem;
}
